[submodule "qiwo-sync-core"]
	path = qiwo-sync-core
	url = https://github.com/LeaWron/qiwo-sync-core.git
	branch = main
[submodule "qiwo-input-format-core"]
	path = qiwo-input-format-core
	url = https://github.com/LeaWron/qiwo-input-format-core.git
	branch = main
[submodule "qiwo-android-rime-core"]
	path = qiwo-android-rime-core
	url = https://github.com/LeaWron/qiwo-android-rime-core.git
	branch = main
